## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [47]:
a = 34
print(a)

34

2) Imprimir el tipo de dato de la variable 8.5

In [48]:
a = 8.5
print(type(a)
)

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [49]:
a=35

print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [50]:
a = ("Facundo")
print(a)

Facundo

5) Crear una constante que contenga el número Pi

In [51]:
import math

a=math.pi
print(a)

3.141592653589793

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [52]:
print(type(a))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [53]:
import math
a= math.e
round(a, 4)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [78]:
a = "True"
b = True
c= (a == b)
print(c)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [55]:

a = 'True'
b =  True
print(a)
print(b)

True
True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [56]:

c= 31 + 45.34
print(c)

76.34

11) Realizar una operación de suma de un número definido como string con un entero

In [57]:
a="34"
b=12
c= int(a) + b
print(c)

46

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [62]:
import math
a= math.e
b= 3
total = a ** b
print(total)

20.085536923187664

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [66]:

a= int(input("INGRESAR PRIMER NUMERO"))
b= int(input("INGRESAR SEGUNDO NUMERO"))
total= a*b
print(total)

8

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [67]:
a = int(27)
b = int(4)
c = a/b
print(c)

6.75

15) De la división anterior solamente mostrar la parte entera

In [71]:
d = int(c)
print(d)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [73]:
e = a%b
print(e)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [75]:
total= d*4 + e
print(total)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [76]:
a = ("2" == 2)
print(a)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [79]:
a= (int("2") == 2)
print(a)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [81]:
los numeros tipo float deben contener un . en vez de una ,

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [82]:
#no está permitida porque los operandos son de tipos diferentes. 


entero = 2 + 3
print(entero)
#da como resultado 5

cadena = '2' + '3'
print(cadena) 
#dda como resultado 23

5
23

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [84]:
menu = """
1 PIZZA
2 EMPANADAS
3 MILANESA
4 SALIR
"""
print(menu)

1 PIZZA
2 EMPANADAS
3 MILANESA
4 SALIR

23) Crear una lista que contenga los números del 1 al 10

In [96]:
a= list(range(1,11)) 
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [97]:
penultimo= a[-2]
print(penultimo)

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [98]:
a[2]= "Facundo"
print(a)

[1, 2, 'Facundo', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [108]:
matriz =[['A', 'B', 'C'],
        ['D', 'E', 'F'],
        ['G', 'H', 'I']]

SyntaxError: incomplete input (193872373.py, line 4)

27) Imprimir la matriz creada en el punto 26

In [110]:
matriz = [['A', 'B', 'C'],
          ['D', 'E', 'F'],
          ['G', 'H', 'I']]

for fila in matriz:
    print(fila)

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

[['A', 'B', 'C'], ['D', 'E', 'F'], 'pepe']

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

30) Crear una tupla que contenga 5 marcas de ropa

31) Imprimir el primer elemento de la tupla creada en el punto 30

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla